DATABASE_URL=
REDIS_URL= 

AUTH_GOOGLE_ID= 
AUTH_GOOGLE_SECRET= 

AUTH_GITHUB_ID= 
AUTH_GITHUB_SECRET= 

CLOUDINARY_CLOUD_NAME= 
CLOUDINARY_API_KEY= 
CLOUDINARY_API_SECRET=
 
NEXTAUTH_SECRET=

# for testing purposes, keep a separate database
TEST_DATABASE_URL=